<div class="row">
    <div class="col-lg-12 margin-tb">
        <div class="pull-left">
            <h1 style="color:#3276B1"><strong>Posts Screen</h1>
        </div>
        <div class="pull-right" style="padding-top:30px">
            <button class="btn btn-success" data-toggle="modal" data-target="#create-user">Thêm mới</button>
        </div>
    </div>
</div>


<table class="table table-bordered pagin-table">
    <thead>
        <tr>
            <th>No</th>
            <th>Tiêu đề</th>
            <th>Mô tả</th>
            <th width="220px">Hành Động</th>
        </tr>
    </thead>
    <tbody>
            <tr ng-repeat="value in data">
            <td>{{ $index + 1 }}</td>
            <td>{{ value.title }}</td>
            <td>{{ value.description }}</td>
            <td>
            <button data-toggle="modal" ng-click="edit(value.id)" data-target="#edit-data" class="btn btn-primary">Sửa</button>
            <button ng-click="remove(value,$index)" class="btn btn-danger">Xóa</button>
            </td>
        </tr>
    </tbody>
</table>

<!-- Create Modal -->
<div class="modal fade" id="create-user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" name="addItem" role="form" ng-submit="saveAdd()">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Thêm bài viết</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div>
                            <strong>Tiêu đề : </strong>
                            <div class="form-group">
                                <input ng-model="form.title" type="text" placeholder="Name" name="title" class="form-control" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <strong>Mô tả : </strong>
                            <div class="form-group" >
                                <textarea ng-model="form.description" class="form-control" required>
                                </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button type="submit" ng-disabled="addItem.$invalid" class="btn btn-primary">Xác nhận</button>
                    </div>
                    
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="edit-data" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" name="editItem" role="form" ng-submit="saveEdit()">
                <input ng-model="form.id" type="hidden" placeholder="Name" name="name" class="form-control" />
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Sửa bài viết</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div>
                            <strong>Tiêu đề : </strong>
                            <div class="form-group">
                               <input ng-model="form.title" type="text" placeholder="Name" name="title" class="form-control" required />
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div>
                            <strong>Mô tả : </strong>
                            <div class="form-group">
                               <textarea ng-model="form.description" class="form-control" required>
                                </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button type="submit" ng-disabled="editItem.$invalid" class="btn btn-primary create-crud">Xác nhận</button>
                    </div>
                    
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
</div>